html, body {
    height: 100%;
}
body {
    padding-top: 70px;
}
.container{
 min-height:100%;
}
.hero-unit {
  padding: 10px 30px;
  margin-bottom: 0;
}
#rss-title{
    margin-bottom: 20px;                
}
#drop-area { 
    height: 200px;
    background: #eeeeee;
    color: white; 
    font-size: 40px;
    font-weight: bold;
    display : table ;
    border-radius: 8px;
}
#drop-area.hover { 
    background: #dddddd;
}
#drop-here-msg{
    text-align: center;
    line-height: 50px;
    display : table-cell; 
    vertical-align : middle;
}
#rss-list{
    font-size: 20px;
}
.wrapper {
    min-height: 100%;
}  
.main{
    overflow:auto;
    padding-bottom: 30px;/* must be same height as the footer */
}
footer{
    position: relative;
    margin-top: -30px; /* negative value of footer height */
    height: 30px;
    clear:both;
    padding-top:15px;
    border-top: 1px solid #eeeeee;
}
footer > .container{
    text-align: center;               
}
#article-intro{
    margin-bottom: 30px;
}
